<div id="carouselExample" class="carousel slide" *ngIf="city">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{{city.heroImage[0]}}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{{city.heroImage[1]}}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{{city.heroImage[2]}}" class="d-block w-100" alt="...">
    </div>
   
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="container text-center" *ngIf="city">
  <div class="row">
      <div class="col-4">
          
        <app-cities-nav></app-cities-nav>

      </div>
      <div class="col-8" style="padding-top: 2rem;">
          
  

            <div class="container-md city-container" [style.background-image]="'url(' + city.image + ')'">
              <div class="city-details">
                <h1>{{ city.name }}</h1>
                <h4>{{ city.country }}</h4>
              </div>
            </div>
            
            <figure>
              <blockquote class="blockquote">
                <h3 style="padding-top:2rem;">Posts</h3>
              </blockquote>
            </figure>            

            <div class="container-lg" *ngFor="let post of city.posts">
              <div class="container-lg">
                <div class="row mb-2">
                  <div class="col-md-12">
                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                      <div class="col-auto d-none d-lg-block">
                        <img src="{{post.image}}" alt="image of the city" width="200" height="125">
                      </div>
                      <div class="col p-4 d-flex flex-column position-static">
                        <a routerLink="/cities/{{city.id}}/{{post.id}}">
                          <h4 class="mb-0">{{post.title}}</h4>
                        </a>
                        <p class="card-text mb-auto">{{post.description}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

      </div>
  </div>
  
</div>
