<div class="container-md" style="padding-bottom: 30px;" >
  <div class="d-flex">
    <div class="p-2 w-100">
      <h1 style="text-align: center;">San Francisco</h1>
      <h4 style="text-align: center;">California</h4>
    </div>
    <div class="p-2 w-100">
      <img src="../../assets/sanfrancisco3.jpg" alt="London" width="600" height="auto">

       </div>
  </div>
</div>

<div class="container-lg">
  <div class="container-lg">
    <div class="row mb-2">
      <div class="col-md-12">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <h5 class="mb-0">Last Remaining Colony in Europe</h5>
            <p class="card-text mb-auto" style="text-align: left; padding-top: 5px;">Gibraltar is the only remaining colony in Europe. This situation is a vestige of the dynastic conflicts of the Ancien Régime. </p>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img class="bd-placeholder-img"  src="../../assets/sanfrancisco2.jpg" alt="Thumbnail" width="200" height="125">
           </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="container-lg">
    <div class="container-lg">
      <div class="row mb-2">
        <div class="col-md-12">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <h5 class="mb-0">The History of Gibraltar</h5>
              <p class="card-text mb-auto" style="text-align: left; padding-top: 5px;">The six square kilometres of the Rock of Gibraltar are steeped in history, from the very beginning around 100,000 years ago when primitive humans and </p>
            </div>
            <div class="col-auto d-none d-lg-block">
              <img class="bd-placeholder-img"  src="../../assets/sanfrancisco.jpg" alt="Thumbnail" width="200" height="125">
             </div>
          </div>
        </div>
      </div>
    </div>


</div>
