<div class="album py-5 bg-body-tertiary">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" src="../../../assets/gibraltar.jpeg" alt="Thumbnail">

            <div class="card-body">
              <p class="card-text">Gibraltar, a British Overseas Territory located at the southern tip of the Iberian Peninsula, offers a captivating travel experience. With its iconic Rock of Gibraltar providing stunning views, the territory combines history, culture, and natural beauty. Visitors can explore the Upper Rock Nature Reserve, home to Barbary macaques, delve into the Great Siege Tunnels and Moorish Castle for a glimpse into its military past, and enjoy duty-free shopping along Main Street. Gibraltar's beaches, like Eastern Beach and Sandy Bay, beckon for relaxation, while day trips to nearby Spanish towns and cities add to the allure. Overall, Gibraltar presents a unique blend of British charm and Mediterranean allure in a compact and captivating destination.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a routerLink="/cities/3"><button type="button" class="btn btn-sm btn-outline-secondary">Learn about Gibraltar Trips</button></a>
              
                </div>
              
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" src="../../../assets/london.jpeg" alt="Thumbnail">
            <div class="card-body">
              <p class="card-text">London, the vibrant capital of England, is a must-visit destination for travelers. Known for its rich history, iconic landmarks, and cosmopolitan atmosphere, London offers a diverse range of experiences. From exploring world-class museums like the British Museum and the National Gallery to witnessing the grandeur of Buckingham Palace and the Tower of London, there is no shortage of cultural and historical sites to discover. Indulge in retail therapy at famous shopping areas like Oxford Street and Covent Garden, immerse yourself in the bustling atmosphere of markets like Camden Market and Borough Market, and savor a variety of cuisines in trendy restaurants and traditional pubs. With its thriving theater scene in the West End, beautiful parks such as Hyde Park and Kensington Gardens, and the majestic River Thames flowing through the city, London truly caters to all interests and leaves visitors captivated by its charm.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a routerLink="/cities/2"><button type="button" class="btn btn-sm btn-outline-secondary">Learn about London Trips</button></a>
                  
                </div>
               
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" src="../../../assets/sanfrancisco.jpeg" alt="Thumbnail">
            <div class="card-body">
              <p class="card-text">San Francisco, a vibrant city in California, offers an enchanting travel experience. Known for its iconic Golden Gate Bridge, hilly streets, and diverse neighborhoods, San Francisco showcases a unique blend of natural beauty and urban charm. Explore the bustling Fisherman's Wharf, visit the historic Alcatraz Island, and take a ride on the iconic cable cars for a taste of the city's rich history. Indulge in the culinary delights of Chinatown, explore the vibrant art scene in the Mission District, and immerse yourself in the lively atmosphere of Union Square. Don't miss the opportunity to stroll along the picturesque waterfront at Embarcadero, visit the vibrant neighborhoods of Haight-Ashbury and Castro, and enjoy panoramic views from Twin Peaks. With its mild climate, cultural diversity, and countless attractions, San Francisco offers an unforgettable journey filled with art, culture, and breathtaking landscapes.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a routerLink="/cities/1"><button type="button" class="btn btn-sm btn-outline-secondary">Learn about San Francisco Trips</button></a>
            
                </div>
            
              </div>
            </div>
          </div>
        </div>

        
  
    </div>
  </div>

  <router-outlet></router-outlet>