<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <a routerLink="/cities/1" class="nav-link active" id="v-sanfrancisco-home-tab" data-toggle="pill" role="tab" aria-controls="v-pills-sanfrancisco" aria-selected="false">San Francisco</a>
    <a routerLink="/cities/2" class="nav-link" id="v-pills-london-tab" data-toggle="pill" role="tab" aria-controls="v-pills-london" aria-selected="false">London</a>
    <a routerLink="/cities/3" class="nav-link" id="v-pills-gibraltar-tab" data-toggle="pill" role="tab" aria-controls="v-pills-gibraltar" aria-selected="false">Gibraltar</a>
</div>