<div class="container text-center">
    <div class="row">
        <div class="col-4">
            
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a routerLink="/cities/1" class="nav-link" id="v-sanfrancisco-home-tab" data-toggle="pill" role="tab" aria-controls="v-pills-sanfrancisco" aria-selected="false">San Francisco</a>
                <a routerLink="/cities/2" class="nav-link" id="v-pills-london-tab" data-toggle="pill" role="tab" aria-controls="v-pills-london" aria-selected="false">London</a>
                <a routerLink="/cities/3" class="nav-link active" id="v-pills-gibraltar-tab" data-toggle="pill" role="tab" aria-controls="v-pills-gibraltar" aria-selected="false">Gibraltar</a>
            </div>

        </div>
        <div class="col-8">
            
            <div class="container-md">
                <div class="d-flex">
                  <div class="p-2 w-100">
                    <h1 style="text-align: center;">Gibraltar</h1>
                    <h4 style="text-align: center;">United Kingdom</h4>
                  </div>
                  <div class="p-2 w-100">
                    <svg class="bd-placeholder-img" width="600" height="125" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                      <title>Placeholder</title>
                      <rect width="100%" height="100%" fill="#55595C"/>
                      <text x="50%" y="50%" fill="#ECEEEF" dy=".3em">Thumbnail</text>
                    </svg>
                  </div>
                </div>
              </div>
              
              <div class="container-lg">
                <div class="container-lg">
                  <div class="row mb-2">
                    <div class="col-md-12">
                      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                          <h3 class="mb-0">Title</h3>
                          <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                        </div>
                        <div class="col-auto d-none d-lg-block">
                          <svg class="bd-placeholder-img" width="200" height="125" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595C"/>
                            <text x="50%" y="50%" fill="#ECEEEF" dy=".3em">Thumbnail</text>
                          </svg>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              
                <div class="container-lg">
                  <div class="row mb-2">
                    <div class="col-md-12">
                      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                          <h3 class="mb-0">Title</h3>
                          <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                        </div>
                        <div class="col-auto d-none d-lg-block">
                          <svg class="bd-placeholder-img" width="200" height="125" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595C"/>
                            <text x="50%" y="50%" fill="#ECEEEF" dy=".3em">Thumbnail</text>
                          </svg>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>