<!-- Future implementation of "Wayfarer is" quote feature -->
<script src="script.js"></script>

<div class="container px-4 py-5" id="featured-3">
  <h2 class="pb-2 border-bottom">Wayfarer is your...</h2>
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    <div class="feature col">
      <div class="feature-icon rounded-circle d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
        <img class="bi" src="assets/travel.png" alt="Collection" width="50px" height="50px">
      </div>
      <h3 class="fs-2">Travel Partner</h3>
      <p>Embark on a remarkable journey with Wayfarer as your trusted companion, ensuring every step is a seamless and unforgettable experience. When you choose Wayfarer, not only do you secure your travel arrangements, but you also gain the expertise of a dedicated travel connoisseur, dedicated to crafting the ultimate voyage just for you.</p>
    </div>

    <div class="feature col">
      <div class="feature-icon rounded-circle d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
        <img class="bi" src="assets/travel-itinerary.png" alt="Collection" width="50px" height="50px">
      </div>
      <h3 class="fs-2">Travel Planner</h3>
      <p>At Wayfarer, we are dedicated to providing an unparalleled level of service that extends well beyond the mere act of ticket issuance. We take great pride in our collaborative approach, working closely with you to ensure a comprehensive and seamless trip planning experience.</p>
    </div>

    <div class="feature col">
      <div class="feature-icon rounded-circle d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
        <img class="bi" src="assets/destination.png" alt="Collection" width="50px" height="50px">
      </div>
      <h3 class="fs-2">Travel Protector</h3>
      <p>Experience peace of mind while traveling, knowing that you are safeguarded with comprehensive assistance throughout your journey. With our extensive network of partners at each destination, we are poised to swiftly provide the necessary support and solutions tailored to your specific needs, ensuring your utmost comfort and security, regardless of any unforeseen circumstances.</p>
    </div>
  </div>
</div>